article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #399FB5;

}


/* Header
-----------------------------------------------------------------------------*/



/* Middle
-----------------------------------------------------------------------------*/
main {}

#container {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 17px;
    margin-bottom: 60px;
}

#overskrift-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 55px;
    width: 100%;
    font-size: 30px;
}

#logo-baggrund {
    opacity: 0.2;
}

#tilbage-pil {
    color: white;
    width: 40px;
    height: 40px;
    padding-left: 20px;
    padding-top: 30px;
}

.container-cirkel-flex {
    display: flex;
}

.kategori {
    background-color: white;
    border-radius: 10px;
    margin-right: 3%;
    margin-top: 3%;
    margin-left: 3%;
    height: 50px;
}

.transform-active {
    background-color: white;
    border-radius: 10px;
    height: auto;
    -webkit-transition: all 0.3s ease;
    padding-bottom: 30px;
}


.p-su {
    margin-top: 15px;
    margin-left: 12%;
}

.p-su-svar{
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 6%;
    line-height: 1.5;
    display: none;
}

.pil-nede {
    width: 15px;
    height: 15px;
    margin-top: 15px;
    margin-left: 113px;
}

.pil-luk{
    width: 15px;
    height: 15px;
    margin-top: 15px;
    margin-left: 113px;
    display: none;
}




.kategori2 {
    background-color: white;
    border-radius: 10px;
    margin-right: 3%;
    margin-top: 3%;
    margin-left: 3%;
    height: 50px;
}

.transform-active {
    background-color: white;
    border-radius: 10px;
    height: auto;
    -webkit-transition: all 0.3s ease;
    padding-bottom: 30px;
}

.p-su2 {
    margin-top: 15px;
    margin-left: 12%;
}

.p-su-svar2{
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 6%;
    line-height: 1.5;
    display: none;
}

.pil-nede2 {
    width: 15px;
    height: 15px;
    margin-top: 15px;
    margin-left: 55px;
    margin-right: 20px;
}

.pil-luk2{
    width: 15px;
    height: 15px;
    margin-top: 15px;
    margin-left: 55px;
    margin-right: 20px;
    display: none;
}




.kategori3 {
    background-color: white;
    border-radius: 10px;
    margin-right: 3%;
    margin-top: 3%;
    margin-left: 3%;
    height: 50px;
}

.transform-active {
    background-color: white;
    border-radius: 10px;
    height: auto;
    -webkit-transition: all 0.3s ease;
    padding-bottom: 30px;
}


.p-su3 {
    margin-top: 15px;
    margin-left: 12%;
}

.p-su-svar3{
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 6%;
    line-height: 1.5;
    display: none;
}

.pil-nede3 {
    width: 15px;
    height: 15px;
    margin-top: 15px;
    margin-left: 55px;
    margin-right: 20px;
}

.pil-luk3{
    width: 15px;
    height: 15px;
    margin-top: 15px;
    margin-left: 55px;
    margin-right: 20px;
    display: none;
}



.kategori4 {
    background-color: white;
    border-radius: 10px;
    margin-right: 3%;
    margin-top: 3%;
    margin-left: 3%;
    height: 50px;
}

.transform-active {
    background-color: white;
    border-radius: 10px;
    height: auto;
    -webkit-transition: all 0.3s ease;
    padding-bottom: 30px;
}


.p-su4 {
    margin-top: 15px;
    margin-left: 12%;
}

.p-su-svar4{
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 6%;
    line-height: 1.5;
    display: none;
}

.pil-nede4 {
    width: 15px;
    height: 15px;
    margin-top: 15px;
    margin-left: 55px;
    margin-right: 20px;
}

.pil-luk4{
    width: 15px;
    height: 15px;
    margin-top: 15px;
    margin-left: 55px;
    margin-right: 20px;
    display: none;
}




.kategori5 {
    background-color: white;
    border-radius: 10px;
    margin-right: 3%;
    margin-top: 3%;
    margin-left: 3%;
    height: 50px;
}

.transform-active {
    background-color: white;
    border-radius: 10px;
    height: auto;
    -webkit-transition: all 0.3s ease;
    padding-bottom: 30px;
}


.p-su5 {
    margin-top: 15px;
    margin-left: 12%;
}

.p-su-svar5{
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 6%;
    line-height: 1.5;
    display: none;
}

.pil-nede5 {
    width: 15px;
    height: 15px;
    margin-top: 15px;
    margin-left: 92px;
}

.pil-luk5{
    width: 15px;
    height: 15px;
    margin-top: 15px;
    margin-left: 92px;
    display: none;
}



.kategori6 {
    background-color: white;
    border-radius: 10px;
    margin-right: 3%;
    margin-top: 3%;
    margin-left: 3%;
    height: 50px;
}

.transform-active {
    background-color: white;
    border-radius: 10px;
    height: auto;
    -webkit-transition: all 0.3s ease;
    padding-bottom: 30px;
}

.p-su6 {
    margin-top: 15px;
    margin-left: 12%;
}

.p-su-svar6{
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 6%;
    line-height: 1.5;
    display: none;
}

.pil-nede6 {
    width: 15px;
    height: 15px;
    margin-top: 15px;
    margin-left: 92px;
}

.pil-luk6{
    width: 15px;
    height: 15px;
    margin-top: 15px;
    margin-left: 92px;
    display: none;
}







/* Footer
-----------------------------------------------------------------------------*/
